:root {
  font-size: 62.5%;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

* {
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

/*   @media screen and (max-width: 1080px) {
    html {
      font-size: 93.75%;
      background-color: red;
    }
  }

  @media (max-width: 720px) {
    html {
      font-size: 87.5%;
      background-color: blue;
}
  } */

  body, html {
    font-family: 'DM Sans', sans-serif;
  }

body {
  background: black;
  -webkit-font-smoothing: antialiased;
  -text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: overlay;
  overflow-x: hidden;

}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  letter-spacing: 0.02rem
}

a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

::-webkit-scrollbar {
  color: transparent;
  width: 10px;
}
